* {
    box-sizing: border-box;
}
/* Basic */
html {
    margin-right: 0!important;
}

body {
    margin: 20px;
    padding: 50px;
    border: none;
    font-family: 'Forum', 'Helvetica';
    font-size: 15px;
    color: #122845;
    background: url("../img/abstract-white-canvas-textures-surface.jpg");
    background-size: cover;
    line-height: 20px;
    letter-spacing: 0.02em;
    font-weight: 300;
    height: 100vh;
    display: grid;
    border-radius: 11px;
    position: relative;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

header {
    position: center;
}
img {
    border-radius: 15px;
    width: 600px;
    height: 450px;
}
.column {
    float: left;
    width: 33.33%;
    /*background-color: #efeaf7;*/
    padding: 0 10px;
}
.row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
    border: #efeaf7;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    background: #74B7A0;
    border-radius: 11px;
    transition: all .8s ease;

}

.card:hover {
    transform: scale(1.1);
    background: #E2EEE4;
    cursor: pointer;
    /*transition: all .8s ease-in-out;*/
    /*transition: all 0.8s ease 0s;*/
    /*animation-name: wobble;*/
    /*animation-duration: 3s;*/
    /*transform-origin:50% 50%;*/
    /*animation-iteration-count: infinite;*/
    /*animation-timing-function: linear;*/
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 28px 0;
    font-weight: 700;
    font-family: 'Forum', helvetica;
    color: #292929;
}


h1 {
    font-size: 44px;
    line-height: 56px;
}


h2 {
    font-size: 38px;
    line-height: 50px;
}


h3 {
    font-size: 34px;
    line-height: 46px;
}


h4 {
    font-size: 30px;
    line-height: 42px;
}


h5 {
    font-size: 26px;
    line-height: 38px;
}


h6 {
    font-size: 22px;
    line-height: 34px;
}

strong {
    font-weight: 900;
    color: #40826d;
}

h1 strong {
    box-shadow: inset 0 -8px 0 #99B0A7;
    transition: all 0.8s ease 0s;
}

p {
    font-family: Helvetica;
    font-size: 1.2rem;
}
/* Links */
a {
    color: #198668;
    text-decoration: none;
    opacity: 1;
    width: 275px;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: inset 0 -6px 0 #7FAFDA;
    transition: all .8s ease-in-out 0s;
}

a:hover {
    text-decoration: none;
    color: #364B44;
    width: 300px;
    outline: none;
    font-size: 1.6rem;
    font-weight: 700;
    box-shadow: inset 0 -14px 0 #7FAFDA;
    transition: all 0.8s ease-in-out 0s;
}


/* Tables */
table {
    width: 100%;
    margin: 30px 0;
    padding: 0;
    border-collapse: collapse;
}

th {
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
    border-bottom: 1px solid #198668;
    color: #292929;
    padding: 12px 15px;
    text-align: left;
}

td {
    border: none;
    border-bottom: 1px solid #198668;
    padding: 12px 15px;
    font-family: Helvetica;
    font-size: 1.2rem;
    text-align: left;
    color: #122845;
}
.bottomSpace {
    padding: 2em;
}
/*@keyframes wobble {*/
/*    0% { transform: translate(2px, 1px) rotate(0deg); }*/
/*    10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
/*    20% { transform: translate(-3px, 0px) rotate(1deg); }*/
/*    30% { transform: translate(0px, 2px) rotate(0deg); }*/
/*    40% { transform: translate(1px, -1px) rotate(1deg); }*/
/*    50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
/*    60% { transform: translate(-3px, 1px) rotate(0deg); }*/
/*    70% { transform: translate(2px, 1px) rotate(-1deg); }*/
/*    80% { transform: translate(-1px, -1px) rotate(1deg); }*/
/*    90% { transform: translate(2px, 2px) rotate(0deg); }*/
/*    100% { transform: translate(2px, 1px) rotate(0deg); }*/
/*}*/
